@page "/example"
@using Microsoft.AspNetCore.Components.Authorization


<AuthorizeView>
    <Authorized>
        <p>Welcome! You are logged in.</p>
        <NavLink href="/logout">Logout</NavLink>
    </Authorized>
    <NotAuthorized>
        <NavLink href="/login">Login</NavLink>
    </NotAuthorized>
</AuthorizeView>