@page "/logout"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager Navigation


<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        localStorage.RemoveItemAsync("jwt_token");
        Navigation.NavigateTo("/");
    }

}
